@import "./constants";

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin pixel-shadow($size, $pressed-size) {
  box-shadow: $size $size 0 $pixel-shadow;

  &:not(.disabled):active {
    box-shadow: $pressed-size $pressed-size 0 $pixel-shadow;
  }
}

@mixin button($shadow-size, $press-shift) {
  @include no-select;
  @include pixel-shadow($shadow-size, $press-shift);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $button-color;
  cursor: pointer;

  &.disabled {
    border-color: $button-color--active;
    background-color: $button-color--disabled;
    cursor: default;
  }

  &:not(.disabled):active {
    transform: translate($shadow-size - $press-shift, $shadow-size - $press-shift);
    background-color: $button-color--active;
  }
}