$border-color: #0B0B0B;
$common-background-color: #FFF;
$panel-color: #111;

$button-color: #B8B8B8;
$button-color--disabled: #5d5d5d;
$button-color--active: #939393;

$pixel-shadow: #565255;
$pixel-shadow--pressed: #434243;

$warning: #df1131;
$notification-background: rgba(0, 0, 0, 0.33);