@import "./constants";

@font-face {
  font-family: 'Gouranga Pixel';
  src: url('./fonts/Gouranga-Pixel.eot');
  src: url('./fonts/Gouranga-Pixel.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gouranga-Pixel.woff2') format('woff2'),
  url('./fonts/Gouranga-Pixel.woff') format('woff'),
  url('./fonts/Gouranga-Pixel.ttf') format('truetype'),
  url('./fonts/Gouranga-Pixel.svg#Gouranga-Pixel') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  color: #000;
  height: 100%;
  line-height: 1.1;
  background-color: $common-background-color;
  font-family: 'Gouranga Pixel', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: $pixel-shadow;
}

::-webkit-scrollbar:horizontal {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: $pixel-shadow;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(155, 168, 183, 0.35);
}

.scroll-blocked {
  height: 100%;
  overflow: hidden;
}
