@import "./dom.scss";
@import "./constants.scss";
@import "./common-mixins";


@mixin content($width) {
  max-width: $width;
  margin: 0 auto;
  overflow: visible;
}
.desktop {
  .content-container {
    @include content(1440px)
  }
}

.tablet {
  .content-container {
    @include content(800px)
  }
}

.mobile {
  .content-container {
    @include content(320px)
  }
}

.control-panel {
  width: 100%;
  height: 70px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: $panel-color;
  border: 5px solid black;

  &__button {
    @include button(5px, 3px);

    padding: 10px 20px;
    margin: 5px;

    border: 3px solid $button-color--active;
    text-transform: uppercase;
  }
}