<template>
  <div class="checkbox">
    <label class="pseudo-checkbox"
           :class="{checked: value}"
           :for="'checkbox-' + uuid">
    </label>
    <input type="checkbox"
           class="checkbox__hidden"
           :id="'checkbox-' + uuid"
           :value="value"
           @input="$emit('input')">
  </div>
</template>

<script>
  import Utils from '@/common/utils';

  export default {
    name: "Checkbox",
    props: {
      value: {
        type: Boolean,
      },
    },
    data() {
      return {
        uuid: Utils.getNextUUID()
      }
    }
  }
</script>

<style scoped
       lang="scss">
  @import "../styles/common-mixins";

  .pseudo-checkbox {
    @include no-select;
    cursor: pointer;
    display: block;

    width: 20px;
    height: 20px;
    border: 3px solid black;

    &.checked {
      background: url("../assets/images/checked.jpg") no-repeat center;
      background-size: contain;
    }
  }

  .checkbox__hidden {
    display: none;
  }
</style>