<template>
  <div>
    <div class="overlay"
         @click="$emit('close')"></div>
    <div class="popup"
         id="confirm-popup">
      <div class="closer"
           @click="$emit('close')">
        &#8339;
      </div>
      <slot></slot>
      <div class="confirm-text">
        Are you sure you want to do this?
      </div>
      <div class="buttons-row">
        <div class="popup-button"
             @click.stop="$emit('accept'); $emit('close')">
          Yes
        </div>
        <div class="popup-button"
             @click="$emit('close')">
          No
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ConfirmPopup",
    mounted() {
      document.body.classList.add('scroll-blocked');
    },
    beforeDestroy() {
      document.body.classList.remove('scroll-blocked');
    }
  }
</script>

<style scoped
       lang="scss">
  @import "../styles/constants";
  @import "../styles/common-mixins.scss";

  .overlay, .popup {
    position: fixed;
    z-index: 9999;
  }

  .overlay {
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .popup {
    @include pixel-shadow(5px, 3px);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 200px;
    padding: 40px 20px 20px;

    background: #fff;
    border: 5px solid $border-color;
  }

  .confirm-text {
    margin: 15px 0 40px;
  }

  .buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 0;
  }

  .popup-button {
    @include button(5px, 3px);

    width: 40%;
    padding: 10px;
  }

  .closer {
    @include no-select;

    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    cursor: pointer;
  }
</style>