<template>
  <div class="notification-overlay"
       @mouseenter="interruptCounter"
       @mouseleave="startCount"
       @click="$emit('close')">
    <div class="notification">
      {{value}}
    </div>
    <div class="progress"
         v-if="counter"></div>
  </div>
</template>

<script>
  const LIFETIME = 2400;

  export default {
    name: "notificitation",
    props: {
      value: {
        type: String,
      }
    },
    data() {
      return {
        counter: null
      }
    },
    mounted() {
      this.startCount();
    },
    methods: {
      startCount() {
        this.counter = setTimeout(() => {
          this.$emit('close');
        }, LIFETIME);
      },
      interruptCounter() {
        clearInterval(this.counter);
        this.counter = null;
      }
    }
  }
</script>

<style scoped
       lang="scss">
  @import "../styles/constants.scss";
  @import "../styles/common-mixins";

  $duration: 2.4s;

  .notification-overlay {
    @include pixel-shadow(5px, 3px);
    position: fixed;
    bottom: 15px;
    left: 50px;
    transform: translateY(-50%);

    width: 350px;
    height: 100px;

    cursor: pointer;
    background: $notification-background;
    transition: opacity .2s ease-in;
  }

  .notification {
    position: absolute;

    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    font-size: 20px;
  }

  .progress {
    animation-name: progress;
    animation-timing-function: linear;
    animation-duration: $duration;

    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: $panel-color;
  }

  @keyframes progress {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }
</style>