<template>
  <div class="task-card"
       :id="value.id"
       :class="{locked: longList && locked, unlocked: longList && !locked}">
    <div class="task-controls">
      <slot></slot>
      <div class="task-edit"
           @click="editTask">
        Edit
      </div>
    </div>
    <div class="task-name">
      {{value.name}}
    </div>
    <div class="subtasks-wrapper"
         :class="{interactive: longList}"
         @click="unlockList"
         ref="wrapper">
      <div class="subtasks-list">
        <ol ref="list">
          <li class="subtask"
              v-for="subtask in value.subtasks"
              :class="{done: subtask.done}"
              :key="subtask.id">
            {{subtask.text}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "TaskCard",
    props: {
      value: {
        required: true,
        type: Object,
        validator: function (value) {
          return typeof value.id !== 'undefined' && Array.isArray(value.subtasks);
        }
      }
    },
    data() {
      return {
        longList: false,
        locked: true,
      }
    },
    mounted() {
      if (this.$refs.list.scrollHeight > this.$refs.wrapper.offsetHeight) {

        this.longList = true;
      }
    },
    methods: {
      unlockList() {
        if (!this.longList) {
          return null;
        }
        if (this.locked) {
          window.addEventListener('click', this.onOuterClick);
        } else {
          window.removeEventListener('click', this.onOuterClick);
        }

        this.locked = !this.locked;
      },
      //слушаем внешний клик, чтобы свернуть карточку, но не реагируем на клики по самой карточке
      //(их слушает unlockList)
      onOuterClick(event) {
        let node = event.target;

        while (node) {
          if (node.id === this.value.id) {
            return null;
          } else {
            node = node.parentNode;
          }
        }

        this.locked = true;
        window.removeEventListener('click', this.onOuterClick);
      },
      editTask() {
        this.$emit('editTask');
      }
    }
  }
</script>

<style scoped
       lang="scss">
  @import "../styles/constants.scss";
  @import "../styles/common-mixins";

  .task-card {
    @include pixel-shadow(5px, 5px);
    width: 230px;
    height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border: 5px solid $border-color;

    &.locked {
      .subtasks-wrapper {
        background: linear-gradient(to top, #444 0%, #444 20%, #777 20%, #777 40%, #ddd 40%, #ddd 60%, #ffff 60%, #ffff 100%);
      }
    }

    &.unlocked {
      .subtasks-wrapper {
        overflow: visible;
      }

      .subtasks-list {
        @include pixel-shadow(5px, 5px);
        background: #fff;
        border-color: $border-color;
        border-top: none;
        padding-bottom: 5px;
      }
    }
  }

  .task-controls {
    width: 100%;
    padding: 5px 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-edit {
    @include button(2px, 1px);

    padding: 2px;

    border: 2px solid $border-color;
  }

  .task-name {
    margin: 30px 0 5px;
    height: 70px;

    flex-shrink: 0;

    font-size: 20px;
    letter-spacing: 2px;
  }

  .subtasks-wrapper {

    width: 100%;
    height: 110px;

    overflow: hidden;

    &.interactive {
      cursor: pointer;
    }
  }

  .subtasks-list {
    padding: 0 10px 0 25px;
    width: calc(100% + 10px);
    margin-left: -5px;

    background: transparent;
    border: 5px solid transparent;
  }

  .subtask + .subtask {
    margin-top: 5px;
  }

</style>