<template>
  <div :class="devicePlatform">
    <div class="control-panel">
      <div class="logo"></div>
      <div class="control-panel__button"
           @click="checkAll">
        {{checkedTasks.length === value.length ? 'un' : ''}}select all
      </div>
      <div class="control-panel__button remove-button"
           :class="{disabled: !checkedTasks.length}"
           @click="removeSelected">
        REMOVE SELECTED: {{checkedTasks.length}}
      </div>
      <div class="control-panel__button"
           @click="createTask">
        CREATE NEW
      </div>
    </div>
    <div class="content-container">
      <div class="cards-wrapper">
        <task-card v-for="(task, task_idx) in value"
                   @editTask="$emit('edit', task)"
                   :style="{zIndex: value.length - task_idx}"
                   :key="task.id"
                   :value="task">
          <checkbox :value="checkedMap[task.id]"
                    @input="checkTask(task.id)"/>
        </task-card>
      </div>
    </div>
    <confirm-popup v-if="confirmationRequest"
                   @accept="confirmationRequest()"
                   @close="cancelConfirmAction">
      {{confirmationText}}
    </confirm-popup>
  </div>
</template>

<script>
  import ConfirmPopup from "@/components/ConfirmPopup";
  import CommonMixin from '@/common/common-mixin';
  import TaskCard from "@/components/TaskCard";
  import Checkbox from "@/components/Checkbox";

  export default {
    name: "TaskList",
    components: {Checkbox, TaskCard, ConfirmPopup},
    mixins: [CommonMixin],
    props: {
      value: {
        type: Array,
        required: true,
      }
    },
    data() {
      return {
        checkedTasks: [],
      }
    },
    computed: {
      checkedMap() {
        //Многократное обращение к реактивному св-ву через this в цикле может сказаться на производительности
        const checked = this.checkedTasks;

        return this.value
          .reduce((result, task) => {
            result[task.id] = checked.includes(task.id);

            return result;
          }, {});
      },
    },
    methods: {
      checkTask(id) {
        if (this.checkedMap[id]) {
          const idx = this.checkedTasks.indexOf(id);

          this.checkedTasks.splice(idx);
        } else {
          this.checkedTasks.push(id);
        }
      },
      checkAll() {
        if (this.checkedTasks.length === this.value.length) {
          this.checkedTasks = []
        } else {
          this.checkedTasks = this.value.map(task => task.id);
        }
      },
      createTask() {
        this.$emit('create');
      },
      removeSelected() {
        const remove = this.$emit.bind(this, 'remove',  this.checkedTasks);

        this.confirmationRequest = remove;
        this.confirmationText = 'Remove selected tasks';
      }
    }
  }
</script>

<style scoped>
  .content-container {
    padding: 20px 0;
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .task-card {
    margin: 10px 28px;
  }

  .remove-button {
    min-width: 200px;
    justify-content: flex-start;
  }

</style>