<template>
  <div class="task-editor"
       :class="devicePlatform">
    <div class="control-panel">
      <slot name="logo"></slot>
      <div class="control-panel__button"
           @click="close">
        Back to list
      </div>
    </div>
    <div class="content-container editor">
      <div class="functional">
        <div class="functional-row">
          <label for="name-input"
                 class="task-name__label">
            Task name:
          </label>
          <input type="text"
                 id="name-input"
                 :class="{invalid: markWarnings && warnings.name}"
                 v-model="editing.name"
                 @focus="setCache('name')"
                 @blur="flushCache">
          <div class="name-warning"
               :class="{inited: markWarnings && warnings.name}">
            At least 3 characters!
          </div>
        </div>
        <div class="functional-row">
          <div class="editor-button"
               :class="{disabled: !canSave}"
               @click="save">
            Save
          </div>
          <div class="editor-button"
               :class="{disabled: !canReset}"
               @click="resetTask">
            Reset
          </div>
          <div class="button-icon undo-icon"
               :class="{disabled: !canUndo}"
               @click="undoChanges"></div>
          <div class="button-icon redo-icon "
               :class="{disabled: !canRedo}"
               @click="redoChanges"></div>
        </div>
        <div class="functional-row">
          <div class="editor-button task-remove"
               :class="{disabled: !editing.id}"
               @click="removeEditing">
            Remove
          </div>
        </div>
      </div>
      <div class="subtasks-container"
           ref="subtasks_container">
        <div class="subtasks-top">
          <div class="subtasks-header">
            Task Goals:
          </div>
          <div class="add-button"
               @click="addSubtask">
            Add Goal
          </div>
        </div>
        <div class="subtasks-list">
          <div class="subtask"
               v-for="(subtask, subtaskIndex) in editing.subtasks"
               :key="subtask.id">
            <checkbox :value="subtask.done"
                      @input="toggleSubtask(subtask.id)"/>
            <input type="text"
                   :ref="'subtask-' + subtask.id"
                   :class="{done: subtask.done}"
                   :value="subtask.text"
                   @focus="setCache('text', {id: subtask.id, index: subtaskIndex})"
                   @input="writeSubtask($event, subtask.id)"
                   @keyup.enter="onSubtaskEnter"
                   @blur="flushCache">
            <div class="subtask-remove"
                 @click="removeSubtask(subtaskIndex)">
              &#8339;
            </div>
            <div class="subtask-warning"
                 :class="{inited: markWarnings && warnings[subtask.id]}">
              At least 3 characters!
            </div>
          </div>
          <div class="subtask-help"
               :class="{invalid: markWarnings && warnings.noGoals}"
               v-if="!editing.subtasks.length">
            Come on! Add some goals!
          </div>
        </div>
      </div>
    </div>
    <confirm-popup v-if="confirmationRequest"
                   @accept="confirmationRequest()"
                   @close="cancelConfirmAction">
      {{confirmationText}}
    </confirm-popup>

  </div>
</template>

<script>
  /* eslint-disable no-debugger */


  import ConfirmPopup from "@/components/ConfirmPopup";
  import CommonMixin from '@/common/common-mixin';
  import Utils from '@/common/utils';
  import Checkbox from "@/components/Checkbox";

  const TEXT_LOW_LIMIT = 3;

  export default {
    name: "TaskEditing",
    components: {Checkbox, ConfirmPopup},
    mixins: [CommonMixin],
    props: {
      value: {
        required: false,
        type: Object,
      },
    },
    data() {
      return {
        editing: this.getInitial(),
        initial: this.getInitial(), //для определения, что текущее состояние отличается от изначального
        history: {
          backward: [],
          forward: []
        },
        cache: null,
        markWarnings: false,
      }
    },
    computed: {
      canUndo() {
        return this.history.backward.length;
      },
      canRedo() {
        return this.history.forward.length;
      },
      canReset() {
        const differentNames = this.editing.name !== this.initial.name;
        const initialSubtasks = this.initial.subtasks;
        const differentSubtasksCount = this.editing.subtasks.length !== initialSubtasks.length;
        const differentSubtasks = !differentSubtasksCount &&
          this.editing.subtasks
            .some((subtask, index) =>
              subtask.text !== initialSubtasks[index].text || subtask.done !== initialSubtasks[index].done);

        return differentNames || differentSubtasks;
      },
      canSave() {
        return Object.values(this.warnings)
          .every(warning => !warning);
      },
      warnings() {
        const invalidSubtasksLengths = this.editing.subtasks
          .reduce(
            (result, subtask) => {
              result[subtask.id] = subtask.text.length < TEXT_LOW_LIMIT;
              return result;
            }, {});
        return {
          ...invalidSubtasksLengths,
          noGoals: !this.editing.subtasks.length,
          noChanges: !this.canReset,
          name: this.editing.name.length < TEXT_LOW_LIMIT,
        };
      },
    },
    methods: {
      getInitial() {
        if (this.value) {
          //избегаем нежелательных мутаций родительского состояния
          return {
            id: this.value.id,
            name: this.value.name,
            subtasks: this.value.subtasks.map(item => ({...item})),
          };
        } else {
          return this.getNewEditing();
        }
      },
      addSubtask() {
        const id = Utils.getNextUUID();
        const subtask = {
          id,
          text: '',
          done: false,
        };
        const index = this.editing.subtasks.push(subtask) - 1;
        this.history.backward.push({
          key: 'addSubtask',
          options: {index},
          value: subtask,
        });

        this.$nextTick(() => {
          const container = this.$refs.subtasks_container;
          const input = this.$refs['subtask-' + id][0];

          container.scrollTo(0, container.scrollHeight);
          input.focus();
        });
      },
      getNewEditing() {
        return {
          name: '',
          subtasks: [],
        }
      },
      getRevertedState({key, options, value}) {
        switch (key) {
          case 'name':
            return {
              key,
              value: this.editing.name,
            };
          case 'text':
            return {
              key,
              options,
              value: {...this.editing.subtasks[options.index]},
            };
          case 'done':
            return {
              key,
              options,
              value: {...this.editing.subtasks[options.index]},
            };
          case 'addSubtask':
            return {
              key: 'removeSubtask',
              options,
              value
            };
          case 'removeSubtask':
            return {
              key: 'addSubtask',
              options,
              value,
            }
        }
      },
      undoChanges() {
        if (!this.canUndo) {
          return null;
        }
        const targetState = this.history.backward.pop();
        const revertedState = this.getRevertedState(targetState);

        this.history.forward.push(revertedState);
        this.patchEditing(targetState);
      },
      redoChanges() {
        if (!this.canRedo) {
          return null;
        }

        const targetState = this.history.forward.pop();
        const revertedState = this.getRevertedState(targetState);

        this.history.backward.push(revertedState);
        this.patchEditing(targetState);
      },
      //Применяем к текущему состоянию формы запись из истории
      patchEditing({key, value, options}) {
        switch (key) {
          case 'name':
            this.editing.name = value;
            break;
          case 'addSubtask':
            this.editing.subtasks.splice(options.index, 1);
            break;
          case 'removeSubtask':
            this.editing.subtasks.splice(options.index, 0, value);
            break;
          default:
            this.editSubtask(options.id, key, value);
        }
      },
      //Запоминаем состояние элемента до изменений
      setCache(key, options) {
        if (key === 'name') {
          this.cache = {
            value: this.editing.name,
            key,
          }
        } else {
          this.cache = {
            value: {...this.editing.subtasks[options.index]},
            options,
            key,
          }
        }
      },
      //Если элемент изменился - только тогда записываем в историю
      flushCache() {
        const flush = () => {
          this.history.backward.push(this.cache);
          this.cache = null;
        };
        let shouldFlush = false;

        switch (this.cache.key) {
          case 'text':
            shouldFlush = this.editing.subtasks[this.cache.options.index].text !== this.cache.value.text;
            break;
          case 'name':
            shouldFlush = this.editing.name !== this.cache.value;
            break;
          default:
            shouldFlush = true;
        }

        if (shouldFlush) {
          flush();
        }
      },
      toggleSubtask(id) {
        const index = this.editing.subtasks.findIndex(subtask => subtask.id === id);
        this.history.backward.push({
          key: 'done',
          options: {id, index},
          value: {...this.editing.subtasks[index]}
        });
        this.editSubtask(id, 'done', !this.editing.subtasks[index].done);
      },
      removeSubtask(index) {
        this.history.backward.push({
          key: 'removeSubtask',
          options: {index},
          value: {...this.editing.subtasks[index]}
        });
        this.editing.subtasks.splice(index, 1);
      },
      writeSubtask(event, id) {
        this.editSubtask(id, 'text', event.target.value);
      },
      onSubtaskEnter(event) {
        if (event.target.value && event.target.value.length >= TEXT_LOW_LIMIT) {
          this.addSubtask();
        }
      },
      editSubtask(id, key, value) {
        const subtaskIndex = this.editing.subtasks.findIndex(subtask => subtask.id === id);
        const subtask = this.editing.subtasks[subtaskIndex];
        //проверка на тип из-за возможности получить пустую строку
        subtask[key] = value && (typeof value[key] !== 'undefined' ? value[key] : value);
        //делаем так из-за особенностей реактивности при работе с массивами
        this.editing.subtasks.splice(subtaskIndex, 1, subtask);
      },
      save() {
        if (!this.canSave) {
          this.markWarnings = true;
          return null;
        }
        if (!this.editing.id) {
          this.editing.id = Utils.getNextUUID()
        }

        this.$emit('save', this.editing);
        this.$nextTick(() => {
          this.initial = this.getInitial();
        });
      },
      resetTask() {
        if (!this.canReset) {
          return null;
        }

        const reset = () => {
          this.editing = this.getInitial();
          this.clearHistory();
        };

        this.confirmationRequest = reset.bind(this);
        this.confirmationText = 'Discard all changes';
      },
      clearHistory() {
        this.history = {
          backward: [],
          forward: []
        };
      },
      removeEditing() {
        if (this.editing.id) {
          this.$emit('remove', [this.editing.id]);
          this.$emit('stopEdit');
        }
      },
      close() {
        if (this.canReset) {
          this.confirmationRequest = this.$emit.bind(this, 'stopEdit');
          this.confirmationText = 'Leave without saving';
        } else {
          this.$emit('stopEdit');
        }
      },
    }
  }
</script>


<style scoped
       lang="scss">
  @import "../styles/constants";
  @import "../styles/common-mixins";

  @mixin warning {
    position: absolute;
    top: 0;
    right: 0;
    color: $warning;
    text-align: center;
    transition: all .1s ease-in;
  }

  .task-editor {
    height: 100%;
  }

  .editor {
    display: flex;
    align-items: center;

    padding: 50px 0;
  }

  input {
    padding: 3px 5px;

    font-family: 'Gouranga Pixel', sans-serif;
    font-size: 32px;

    outline: none;
    border: 3px solid transparent;
    border-bottom-color: $border-color;

    transition: border-color .05s;

    &.done {
      text-decoration: line-through;
    }
  }

  .checkbox {
    margin-right: 10px;
  }

  .functional {
    width: 50%;
    padding-right: 50px;
  }

  .functional-row {
    position: relative;
    display: flex;
    margin: 40px 0;
  }

  #name-input {
    margin-left: 15px;
    width: 100%;
    text-align: center;
    background: #fff;
    z-index: 1;
  }

  .name-warning {
    @include warning;
    width: 310px;

    font-size: 30px;

    &.inited {
      top: -100%;
    }
  }

  .task-name__label {
    flex-shrink: 0;
    align-self: flex-end;
    display: block;

    font-size: 30px;
  }

  .editor-button {
    @include button(5px, 3px);

    min-width: 230px;
    padding: 10px 20px;
    margin: 0 20px;

    font-size: 24px;
    text-transform: uppercase;
    border: 3px solid $button-color--active;

    &:first-child {
      margin-left: 0;
    }
  }

  .button-icon {
    @include button(5px, 3px);

    width: 50px;
    height: 50px;
    margin: 0 15px;

    border: 3px solid $button-color--active;

    &:last-child {
      margin-right: 0;
    }

    $icons: redo, undo;
    @each $icon in $icons {
      &.#{$icon}-icon {
        background-image: url("../assets/images/#{$icon}.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
      }
    }
  }

  .subtasks-container {
    position: relative;
    width: 50%;
    padding: 0 100px;
    border: 5px solid $border-color;

    overflow: auto;
  }

  .subtasks-top {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 5px;

    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subtasks-header {
    font-size: 42px;
    text-align: center;
  }

  .subtasks-list {
    padding: 20px 20px 10px;
    height: 400px;
  }


  .add-button {
    @include button(5px, 3px);

    border: 5px solid $button-color--active;
    padding: 5px 5px;
    margin-top: -10px;
  }

  .subtask-help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
  }

  .subtask {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translate(2px, 2px);

    input {
      overflow: visible;
      position: relative;
      padding-right: 30px;
      width: 100%;
      height: 32px;

      text-align: center;
      font-size: 16px;

      z-index: 1;

      &:focus {
        box-shadow: 2px 2px 0 $pixel-shadow;
        border-color: $border-color;
      }
    }

    & + .subtask {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }

    &-text {
      margin-left: 15px;
      width: 100%;
    }

    &-warning {
      @include warning;
      width: 100px;
      height: 32px;

      &.inited {
        right: -100px;
      }
    }

    &-remove {
      @include no-select;
      position: absolute;
      top: 35%;
      right: 0;
      transform: translateY(-50%);
      padding: 0 10px;

      font-size: 36px;
      font-weight: bold;
      line-height: 1;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }

      &:active {
        transform: translate(1px, calc(-50% + 1px));
      }
    }
  }
</style>