<template>
  <div id="app"
       :class="devicePlatform">
    <task-editor v-if="edit"
                 :value="editing"
                 @save="saveTask"
                 @remove="removeTasks"
                 @stopEdit="stopEdit"/>
    <keep-alive v-else>
      <task-list :value="tasks"
                 @create="createTask"
                 @edit="editTask"
                 @remove="removeTasks"/>
    </keep-alive>

    <!--при масштабировании, конечно, логичнее сделать это плагином-->
    <notificitation v-if="notificationText"
                    :value="notificationText"
                    @close="notificationText = ''"/>
  </div>
</template>

<script>
  /*
   * 1) Список карточек
   * 2) Редактировать карточку
   * 3) Компонента попапа
   * 4) Нотификация
   * 5) Красивые инпуты с уезжающим плейсхолдером
   * 6) Плитка/список
   *
   *
   */

  import CommonMixin from '@/common/common-mixin';
  import TaskList from "@/components/TaskList";
  import TaskEditor from "@/components/TaskEditor";
  import Notificitation from "@/components/Notificitation";

  export default {
    name: 'App',
    mixins: [CommonMixin],
    components: {
      Notificitation,
      TaskList,
      TaskEditor,
    },
    data() {
      return {
        edit: false,
        editing: null,
        tasks: [],
        notificationText: 'test',
      }
    },
    created() {
      if (typeof localStorage === 'undefined') {
        return null;
      }

      const storedData = localStorage.getItem('todo-tasks');

      this.tasks = JSON.parse(storedData) || [];
    },
    methods: {
      saveTask(task) {
        this.tasks.push(task);
        this.updateStorage();
        this.editing = task;
        this.notificationText = `Task "${task.name}" was successfully saved!`;
      },
      createTask() {
        this.editing = null;
        this.edit = true;
      },
      editTask(task) {
        this.edit = true;
        this.editing = task;
      },
      stopEdit() {
        this.edit = false;
      },
      removeTask(id) {
        const idx = this.tasks.findIndex(task => task.id === id);

        if (idx >= 0) {
          this.tasks.splice(idx, 1);
          this.updateStorage();
        }
      },
      removeTasks(toRemove) {
        toRemove.forEach(this.removeTask);
        this.notificationText = (toRemove.length > 1 ? 'Tasks were' : 'Task was') + ' deleted!';
      },
      updateStorage() {
        localStorage.setItem('todo-tasks', JSON.stringify(this.tasks));
      }
    }
  }
</script>

<style scoped
       lang="scss">
  #app {
    height: 100%;

    overflow: visible;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
